{% extends "layout.html.twig" %}

{% block title %}Liste des terrain{% endblock %}

{% block content %}

    <div>
        <h2 class="text-center">{{ block('title') }}</h2>
    </div>
    <div id="columns">
        {% for courtSport in courtSports %}
            <a href="{{ app.request.basepath }}/detailedTerrain/{{ courtSport.idCourtSport }}">
                <figure>
                    <img class="img" src="{{ app.request.basepath }}/uploads/{{ courtSport.court.imageCourt }}">
                    <figcaption>
                        <p>
                            adresse : {{ courtSport.court.numeroRueCourt }} {{ courtSport.court.rueCourt }} {{ courtSport.court.cpCourt }} {{ courtSport.court.villeCourt }}
                        </p>
                        <p>
                            info : {{ courtSport.court.descriptionCourt }}
                        </p>
                        <p>
                            sport : {{ courtSport.sport.libelleSport }}
                        </p>
                    </figcaption>
                </figure>
            </a>
        {% endfor %}
    </div>
{% endblock %}