{% extends "layout.html.twig" %}

{% block title %}Liste des terrain{% endblock %}

{% block content %}

    <div style="margin-top: 5%">
        <h2 class="text-center">{{ block('title') }}</h2>
    </div>

    <div>
        {% if courtSports %}

            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>adresse</th>
                        <th>Description</th>
                        <th>Sports</th>
                    </tr>
                    </thead>
                    {% for courtSport in courtSports %}
                            <tr>
                                <td><img class="img" src={{ app.request.basepath }}/{{ courtSport.court.imageCourt }}></td>
                                <td>{{ courtSport.court.numeroRueCourt }} {{ courtSport.court.rueCourt }} {{ courtSport.court.cpCourt }} {{ courtSport.court.villeCourt }}</td>
                                <td>{{ courtSport.court.descriptionCourt }}</td>
                                <td>{{ courtSport.sport.libelleSport }}</td>
                            </tr>
                    {% endfor %}

                </table>
            </div>
        {% else %}
            <div class="alert alert-warning">Aucun Terrain de sport trouvé.</div>
        {% endif %}
    </div>
{% endblock %}